@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">NADASIMA</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <a class="btn" asp-action="TestEmail" asp-controller="Home">ENVIAR CORREO DE PRUEBA</a>
</div>

@if (ViewBag.EmailMessage != null)
{
    <div>@ViewBag.EmailMessage</div>
}
else
{
    <div>NADA</div>
}