@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hospital San Vicente</h1>
    <div>
        <p>El lugar en donde tu salud y tu bienestar son nuestra priodad.</p>
        <img src="images/HopitalImage.png" alt="HospitalImage" width="800">
    </div>
    <a class="btn" asp-action="TestEmail" asp-controller="Home">ENVIAR CORREO DE PRUEBA</a>
</div>

@if (ViewBag.EmailMessage != null)
{
    <div>@ViewBag.EmailMessage</div>
}
else
{
    <div>NADA</div>
}